@import url('https://fonts.googleapis.com/css?family=Nunito:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400');

body {
  font-family: Roboto;
  min-height: 100vh;
  background: linear-gradient(47.62deg, #a6ffcb -29.15%, #12c2e9 83.36%) no-repeat;
  width: 100vw;
}