@import url('https://fonts.googleapis.com/css?family=Nunito:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400');

body {
  font-family: Roboto;
  min-height: 100vh;
  background: linear-gradient(47.62deg, #a6ffcb -29.15%, #12c2e9 83.36%) no-repeat;
  width: 100vw;
}

main {
  min-height: calc(100vh - 120px);
  padding: 120px 0 100px 0;
  margin: 0 auto;
  width: calc(100vw - 2em);
  max-width: 1200px;
}

button {
  display: inline-block;
  height: 50px;
  padding: 0 30px; 
  text-align: center; 
  line-height: 50px; 
  border: 1px solid #14213d; 
  border-radius: 10px;
}

button:hover {
  background: #a6ffcb;
}

button:disabled, button[disabled] {
  color: #444;
  background: #efefef;
  border-color: #444;
}