@font-face {
  font-family: RadnikaBold;
  src: url(./fonts/Radnika-Bold.ttf);
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 20px;
  top: 14px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fff;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #fff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}
.bm-item-list a {
  font-family: Roboto;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* Menu */

.App-header-menu {
  position: fixed;
  top: 0;
  background: #14213D;
  top: 0px;
  width: 100vw;
  color: #fff;
  z-index: 100;
  height: 60px;;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.App-header-menu__isTop {
  background: transparent;
}

/* Name brand */
.App-header-menu-logo {
  position: fixed;
  top: 0;
  font-family: RadnikaBold;
  padding-left: 20px;
  line-height: 60px;
  color: #fff;
  font-size: 36px;
  z-index: 100;
}